<h1>Bem-vindo ao Cadastro de Vítimas e Doadores</h1>
<%= link_to 'Cadastrar Vítima', new_vitima_path %>
<%= link_to 'Cadastrar Doador', new_doador_path %>
<%= link_to 'Lista de Vítimas', vitimas_path %>
<%= link_to 'Lista de Doadores', doadores_path %>
